[data_dir]
# NEID_DIR = /data/varghese/NEID_data/Varghesedata120
# NEID_DIR = /data/varghese/NEID_data/pmode_avg_data
# NEID_DIR = /data/public/Solardata_90sec
NEID_DIR = /data/varghese/NEID_data/pmode_avg_noblaze/
CACHE_DIR = /data/varghese/Stellar_activity_project_results/spectra_cache/
# NEID_DIR = ~/Desktop
# NEID_data_onecycle

# IN this trial, kept the xscale commented. This is to check that does this save parameters becoming nan.
[output_dir]
# OP_MAIN = 17_fake_data
# OP_SUB = Result_LowSNRtest
# OP_MAIN = 20_newform
# OP_MAIN = 23_scalingprofile
# OP_MAIN = 24_additional_term
# OP_MAIN = 26_constantless_function
# OP_MAIN = 27_pmode_avg
# OP_MAIN = 31_higherorder_pmodeavg
# OP_MAIN = 33_pca_components

# OP_MAIN = 34_pca_penaltytrial
# OP_MAIN = 35_injection_dC
# OP_MAIN = 35_injection_dC
# OP_MAIN = 36_zeroinit
# OP_MAIN = 37_4pcs
# OP_MAIN =39_algorithms

# OP_MAIN = 41_saving_data_trial
# OP_MAIN =40_Differential_evaluation
# OP_MAIN = Checking_sigma
# OP_MAIN = 42_separate_order
# OP_MAIN = 43_Wait_trial
# OP_MAIN = 44_refresidue_sub
# OP_MAIN = 46_injection_recovery
# OP_MAIN = 47_Rsonly
# OP_MAIN = 48_Rsonly_penaltytest
# OP_MAIN = 48_A_paramevolutiontest
# OP_MAIN = 49A_twoparamtest_onepoch
OP_MAIN = 50_2dnorderpoly_refshiftwithC
# OP_MAIN = 32_ccffitting
# OP_MAIN = 21_onelane

# OP_SUB = Result_2ndorder_47layers_nonpca
# OP_SUB = Result_withdata_avgneidspectra_softl1
# OP_SUB = Result_onelane_secondorder
# OP_SUB = Result_bilane_areamodel
# OP_SUB = Result_penalty# Result_3_2_degree_halfarea
# OP_SUB = Result_scale_profile
# OP_SUB = Result_additional_penalty
# OP_SUB = Result_2ndorder_47layers_deltac_1000
# OP_SUB = Result_2ndorder_dC_lm
# OP_SUB = Result_2ndorder_dC_nopca_lm_linear_init1
# OP_SUB = Result_2ndorder_nopca_trf_softl1_init0_noxscale_1e10_checktime
# OP_SUB = Result_diffeval_smallwindow
# OP_SUB = Data_dict
# OP_SUB = Result_2ndorder_dC_nopca_trf_linear_init-2_gtolonly
# OP_SUB = Result_2ndorder_dC_trf_softl1_oldtrials
# OP_SUB = Result_2ndorder_dC_nopca_diff_eval
OP_SUB = Result_2ndorder_refresshift
# OP_SUB = Result_2ndorder_poly_ftol_diff_penalty0_pca_constshiftinit_shiftres_lasso0.5_withdC
# OP_SUB = Result_2ndorder_poly_ftol_diff_penalty0_pca_lasso0_withdC_oppside
# OP_SUB = Result_2params_R0dC
RESDIR_PREFIX = Result_dir_

[inputs]
WL_WINT = 3700, 9000
MASK_REG_TXT = data/Masked_regions_modified.csv
REF_SPEC = Ref_spectra_korg.pkl
# REF_SPEC = Avg_NEID_data.pkl

[outputs]
SPEC_PRIFIX = Fitted_spectra


[fit_init]
VEL_0 = 0.
INIT_PARAMS = 0.

[stellar_params]
temp = 5770
logg = 4.438
vmic = 0.78
vsini = 1.84
epsilon = 0.6

[spectral_params]
mu_vals=100

R=110000
window_size=4

