[data_dir]
# NEID_DIR = /data/varghese/NEID_data/Varghesedata120
# NEID_DIR = /data/varghese/NEID_data/pmode_avg_data
NEID_DIR = /data/public/Solardata_90sec
# NEID_DIR = ~/Desktop
# NEID_data_onecycle


[output_dir]
# OP_MAIN = 17_fake_data
# OP_SUB = Result_LowSNRtest
# OP_MAIN = 20_newform
# OP_MAIN = 23_scalingprofile
# OP_MAIN = 24_additional_term
# OP_MAIN = 26_constantless_function
# OP_MAIN = 27_pmode_avg
# OP_MAIN = 28_unavg
OP_MAIN = 29_ccf_fitting
# OP_MAIN = 21_onelane
# OP_SUB = Result_withdata_avgneidspectra_softl1
# OP_SUB = Result_onelane_secondorder
# OP_SUB = Result_bilane_areamodel
# OP_SUB = Result_penalty# Result_3_2_degree_halfarea
# OP_SUB = Result_scale_profile
# OP_SUB = Result_additional_penalty
OP_SUB = Result_fix2nddegree
RESDIR_PREFIX = Result_dir_

[inputs]
WL_WINT = 3700, 9000
MASK_REG_TXT = data/Masked_regions.csv
REF_SPEC = Ref_spectra_korg.pkl
# REF_SPEC = Avg_NEID_data.pkl

[outputs]
SPEC_PRIFIX = Fitted_spectra


[fit_init]
VEL_0 = 0.
INIT_PARAMS = 0.

[stellar_params]
temp = 5770
logg = 4.438
vmic = 0.78
vsini = 1.84
epsilon = 0.6

[spectral_params]
mu_vals=100

R=110000
window_size=4

