[data_dir]
NEID_DIR = /data/public/Pmode_averaged_solar_datav1.5/2020
CACHE_DIR = /data/varghese/Stellar_activity_project_results/spectra_cache/

[reference]
REFERENCEFILE_YEAR = 2020
REFERENCEFILE = neidL2_20201212T172936.fits
REFERENCE_RESULT = data/Referenceresults.pkl

[output_dir]
OP_MAIN = 51_new_way_test

OP_SUB = Result_2ndorder_refresshift
RESDIR_PREFIX = Result_dir_

[inputs]
WL_WINT = 3700, 9000
MASK_REG_TXT = data/Masked_regions_modified.csv
REF_SPEC = Ref_spectra_korg.pkl

[outputs]
SPEC_PRIFIX = Fitted_spectra


[fit_init]
VEL_0 = 0.
INIT_PARAMS = 0.

[stellar_params]
temp = 5770
logg = 4.438
vmic = 0.78
vsini = 1.84
epsilon = 0.6

[spectral_params]
mu_vals=100

R=110000
window_size=4

